window.__PLATFORM_CONFIG__ = {
  environment: '${PLATFORM_ENV}',
  services: {
    identity: '${PLATFORM_IDENTITY_URL}',
    tenant: '${PLATFORM_TENANT_URL}',
    authorization: '${PLATFORM_AUTHORIZATION_URL}',
    application: '${PLATFORM_APPLICATION_URL}',
    audit: '${PLATFORM_AUDIT_URL}',
    config: '${PLATFORM_CONFIG_URL}'
  }
};
